In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns
import warnings
import os

warnings.filterwarnings("ignore", category=FutureWarning)

sns.set_theme(style="whitegrid")
%matplotlib inline

# 作業ディレクトリを変更
os.chdir('/home')
print(os.getcwd())

train = pd.read_csv('kaggle/input/child-mind-institute-problematic-internet-use/train.csv')
test = pd.read_csv('kaggle/input/child-mind-institute-problematic-internet-use/test.csv')
data_dict = pd.read_csv('kaggle/input/child-mind-institute-problematic-internet-use/data_dictionary.csv')

display(train.head())
print(f"Train shape: {train.shape}")

display(test.head())
print(f"Test shape: {test.shape}")

display(data_dict.head())

# サンプルデータフレーム
data = pd.DataFrame({
    'age': [25, 30, 22, 28, 35, 40, np.nan, 29],
    'salary': [50000, 60000, 55000, 58000, 62000, 70000, 65000, np.nan],
    'gender': ['Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female']
})

# Helper function to calculate statistics
def calculate_stats(data, columns):
    if isinstance(columns, str):
        columns = [columns]
        
    stats = []
    for col in columns:
        if data[col].dtype in ['object', 'category']:
            # 各列の値の出現回数を計算
            counts = data[col].value_counts(dropna=False, sort=False)
            # 出現割合を計算
            percents = data[col].value_counts(normalize=True, dropna=False, sort=False) * 100
            
            formatted = counts.astype(str) + ' (' + percents.round(2).astype(str) + '%)'
            stats_col = pd.DataFrame({'counts (%)': formatted})
            stats.append(stats_col)
        else:
            # 数値データの場合は統計量を計算
            stats_col = data[col].describe().to_frame().transpose()
            
            stats_col['missing'] = data[col].isnull().sum()
            stats_col.index.name = col
            stats.append(stats_col)
            
    return pd.concat(stats, axis=0)

print("結果")
print(calculate_stats(data, ['age', 'salary','gender']))

/home

,id,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,...,PCIAT-PCIAT_18,PCIAT-PCIAT_19,PCIAT-PCIAT_20,PCIAT-PCIAT_Total,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday,sii
0,00008ff9,Fall,5,0,Winter,51.0,Fall,16.877316,46.0,50.8,...,4.0,2.0,4.0,55.0,NaN,NaN,NaN,Fall,3.0,2.0
1,000fd460,Summer,9,0,NaN,NaN,Fall,14.035590,48.0,46.0,...,0.0,0.0,0.0,0.0,Fall,46.0,64.0,Summer,0.0,0.0
2,00105258,Summer,10,1,Fall,71.0,Fall,16.648696,56.5,75.6,...,2.0,1.0,1.0,28.0,Fall,38.0,54.0,Summer,2.0,0.0
3,00115b9f,Winter,9,0,Fall,71.0,Summer,18.292347,56.0,81.6,...,3.0,4.0,1.0,44.0,Summer,31.0,45.0,Winter,0.0,1.0
4,0016bb22,Spring,18,1,Summer,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Train shape: (3960, 82)

,id,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,...,BIA-BIA_TBW,PAQ_A-Season,PAQ_A-PAQ_A_Total,PAQ_C-Season,PAQ_C-PAQ_C_Total,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday
0,00008ff9,Fall,5,0,Winter,51.0,Fall,16.877316,46.0,50.8,...,32.6909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall,3.0
1,000fd460,Summer,9,0,NaN,NaN,Fall,14.035590,48.0,46.0,...,27.0552,NaN,NaN,Fall,2.340,Fall,46.0,64.0,Summer,0.0
2,00105258,Summer,10,1,Fall,71.0,Fall,16.648696,56.5,75.6,...,NaN,NaN,NaN,Summer,2.170,Fall,38.0,54.0,Summer,2.0
3,00115b9f,Winter,9,0,Fall,71.0,Summer,18.292347,56.0,81.6,...,45.9966,NaN,NaN,Winter,2.451,Summer,31.0,45.0,Winter,0.0
4,0016bb22,Spring,18,1,Summer,NaN,NaN,NaN,NaN,NaN,...,NaN,Summer,1.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Test shape: (20, 59)

,Instrument,Field,Description,Type,Values,Value Labels
0,Identifier,id,Participant's ID,str,NaN,NaN
1,Demographics,Basic_Demos-Enroll_Season,Season of enrollment,str,"Spring, Summer, Fall, Winter",NaN
2,Demographics,Basic_Demos-Age,Age of participant,float,NaN,NaN
3,Demographics,Basic_Demos-Sex,Sex of participant,categorical int,"0,1","0=Male, 1=Female"
4,Children's Global Assessment Scale,CGAS-Season,Season of participation,str,"Spring, Summer, Fall, Winter",NaN

結果
        count          mean          std      min      25%      50%      75%  \
age       7.0     29.857143     6.039552     22.0     26.5     29.0     32.5
salary    7.0  60000.000000  6557.438524  50000.0  56500.0  60000.0  63500.0
Male      NaN           NaN          NaN      NaN      NaN      NaN      NaN
Female    NaN           NaN          NaN      NaN      NaN      NaN      NaN

            max  missing counts (%)
age        40.0      1.0        NaN
salary  70000.0      1.0        NaN
Male        NaN      NaN  4 (50.0%)
Female      NaN      NaN  4 (50.0%)

## 参照
https://www.kaggle.com/code/yoshiharuiwasaki/cmi-piu-features-eda#--Sleep-Disturbance-Scale